.stock-container,
.stock-filters {
  top: 98px;
  left: 0;
  right: 0;
}

.stock-container {
  transition: top .3s ease-out;
  bottom: 50px; // bottom navigation
  padding: 0 !important;
  overflow: auto;
}

.stock-filters {
  transition: height .3s ease-out;
  overflow: hidden;
}

.stock-page {
  min-height: auto !important;
  position: relative;
}
