.s-product-unit-quantity {
  position: relative;
  z-index: 2;
}
.s-product-unit-progressbar {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  background-color: rgba(0, 0, 0, .3);
}
.s-product-unit-slider {
  width: 114px;
  padding-right: 9px;
}
