.settings-form-input {
  font-size: 130%;
}

.settings-form-unit {
  background: #F6F6F6;
  border: 1px solid #DDD;
}

.settings-form-unit-index {
  min-width: 40px;
  height: 40px;
  top: -25px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
  color: white;
}

.settings-form-img {
  background: linear-gradient(0deg, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 100%) !important;
}

.settings-form-file .q-field--outlined,
.settings-form-file .q-field__control::before {
  border: 0 !important;
  background: none !important;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Animations

.settings-form-flip-move {
  transition: transform .3s;
}
